* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;
}


.h1 {
text-align: center;
margin: 2.9rem;
padding: 1rem;
font-family: 'Source Code Pro', monospace;
font-size: 2.5rem;
font-weight: 600;
-webkit-text-stroke: 2px black;
color: white;
}
.h1::before {
    content: "🔴🟠🟡";
    -webkit-text-stroke: white;
}
.h1::after {
    content: "🟢🔵🟣";
    -webkit-text-stroke: white;
}



.container {
    padding: 2rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: black;
    border-radius: 14px;
}

h2 {
    color: rgb(202, 202, 202);
    padding-bottom: 2rem;
    font-weight: lighter;
}

.btn {
    padding: 1rem;
    border-radius: 10px;
    font-size: 15px;
    border: rgb(255, 255, 255) solid 2px;
    background-color: black;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn, value {
    color: rgb(201, 201, 201);
}

.btn:hover {
color: black;
background-color: rgb(221, 221, 221);
}

.btn:active {
color: rgb(214, 214, 214);
}

span {
   color: rgb(211, 211, 211); 
    padding-bottom: 3rem;
    font-size: 2rem;
}